<div class="card mb-3">
  <div class="card-header">Periodos</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de periodos</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/periodos/form']">Crear periodo</button>
  </div>
  <div *ngIf="periodos?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <table class="table table-bordered table-striped" *ngIf="periodos?.length>0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre periodo</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let periodo of periodos">
          <td>{{periodo.id}}</td>
          <td>{{periodo.nombre_periodo}}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')" >
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/periodos/form', periodo.id]">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(periodo)'>Eliminar</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>
