<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form #semestreForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Descripción semestre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="semestre.descripcion_semestre" name="descripcion_semestre" required minlength="4" #descripcion_semestre="ngModel">
          <div class="alert alert-danger" *ngIf="descripcion_semestre.invalid && (descripcion_semestre.dirty || descripcion_semestre.touched)">
            <div *ngIf="descripcion_semestre.errors.required">
              Descripción semestre es obligatorio
            </div>
            <div *ngIf="descripcion_semestre.errors.minlength">
              Descripción semestre debe contener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Posición semestre</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)]="semestre.posicion" name="posicion" required #posicion="ngModel">
          <div class="alert alert-danger" *ngIf="posicion.invalid && (posicion.dirty || posicion.touched)">
            <div *ngIf="posicion.errors.required">
              Posición es obligatorio
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!semestre.id; else elseBlock" [disabled]="!semestreForm.form.valid" >Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!semestreForm.form.valid">Editar</button>
          </ng-template>
          <button class="btn btn-danger" mat-raised-button (click)="goBack()">Volver</button>
        </div>
      </div>
    </form>
  </div>
</div>
