<ngx-loading [show]="loading"></ngx-loading>

<div class="card mb-3">
  <div class="card-header">Semestres</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de semestres</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_C_SEMESTRE')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/semestres/form']">Crear semestre</button>
  </div>
  <div *ngIf="semestres?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <div class="table-responsive">

  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" *ngIf="semestres?.length>0">
      <thead>
        <tr>
          <th>Descripción semestre</th>
          <th *ngIf="authService.hasRole('ROLE_M_SEMESTRE')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_E_SEMESTRE') && !authService.hasPerfil('ROLE_ADMIN')">Desactivar</th>
          <th *ngIf="authService.hasRole('ROLE_E_SEMESTRE') && authService.hasPerfil('ROLE_ADMIN')">Desactivar/Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let semestre of semestres">
          <td>{{semestre.descripcion_semestre}}</td>
          <td *ngIf="authService.hasRole('ROLE_M_SEMESTRE')" >
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/semestres/form', semestre.id]">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_E_SEMESTRE') && semestre.vigente==true">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='desactivar(semestre)'>Desactivar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_E_SEMESTRE') && semestre.vigente==false">
            <button type="button" name="activar" class="btn btn-success" (click)='activar(semestre)'>Activar</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
  </div>
</div>

