<body *ngIf="authService.isAuthenticated() && authService.usuario.first==false" class="">
    <div  id="wrapper">
    <nav  class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">{{authService.usuario.username}}</span>
                            <span class="text-muted text-xs block">{{authService.usuario.email}} <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" routerLink="/ajustes">Ajustes de Sistema</a></li>
                            <li><a class="dropdown-item" routerLink="/usuarios/cambiarPassword">Cambiar Clave</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <!-- <li>
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="index.html">Dashboard v.1</a></li>
                        <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                        <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                        <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                        <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
                    </ul>
                </li> -->
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/ciudades"><fa-icon [icon]="faCity"></fa-icon> Ciudades<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/sedes"><fa-icon [icon]="faUniversity"></fa-icon> Sedes<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/facultades"><fa-icon [icon]="faBuilding"></fa-icon> Facultades<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/carreras"><fa-icon [icon]="faGraduationCap"></fa-icon> Carreras<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/periodos"><fa-icon [icon]="faCalendarAlt"></fa-icon> Periodos<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/ramos"><fa-icon [icon]="faBookOpen"></fa-icon> Ramos<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/ramosCarreras"><fa-icon [icon]="faBookReader"></fa-icon> Ramo Carrera<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/perfiles"><fa-icon [icon]="faUserLock"></fa-icon> Perfiles de Usuario<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/usuarios"><fa-icon [icon]="faUser"></fa-icon> Usuario<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/mallas"><fa-icon [icon]="faTable"></fa-icon> Malla<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/semestres"><fa-icon [icon]="faHourglass"></fa-icon> Semestre<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_ADMIN')" routerLinkActive="active">
                    <a routerLink="/jefesCarreras"><fa-icon [icon]="faBookReader"></fa-icon> Jefe Carrera<span class="sr-only">(current)</span></a>
                </li>

                <li *ngIf="authService.hasRole('ROLE_DOCENTE')" routerLinkActive="active">
                    <a routerLink="/ramosDocentes"><i class="fa fa-diamond"></i> Ramos asignados<span class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="authService.hasRole('ROLE_COMISION')" routerLinkActive="active">
                    <a routerLink="/syllabusPendientes"><i class="fa fa-diamond"></i> Syllabus por aprobar<span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        </div>
            <ul class="nav navbar-top-links navbar-right">
                
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bienvenido a Syllabus Web</span>
                </li>
                <li>
                    <a (click)="logout()">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="wrapper wrapper-content">
              <router-outlet></router-outlet>
            </div>
            <div class="footer">
                <div class="float-right">
                </div>
                <div>
                    <strong>Copyright</strong> SolucionesRA &copy; 2018-2020
                </div>
            </div>

        </div>
        </div>
</body>
<change-password *ngIf="authService.isAuthenticated() && authService.usuario.first==true"></change-password>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>




  