<ngx-loading [show]="loading"></ngx-loading>
<div class="card mb-3">
  <div class="card-header">Perfiles</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de perfiles</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_C_PERFIL')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/perfiles/form']">Crear perfil</button>
  </div>
  <div *ngIf="perfiles?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <div class="table-responsive">

  <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped" *ngIf="perfiles?.length>0">
      <thead>
        <tr>
          <th>Nombre perfil</th>
          <th *ngIf="authService.hasRole('ROLE_M_PERFIL')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_E_PERFIL')">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let perfil of perfiles">
          <td>{{perfil.name}}</td>
          <td *ngIf="authService.hasRole('ROLE_M_PERFIL')" >
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/perfiles/form', perfil.id]">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_E_PERFIL')">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(perfil)'>Eliminar</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>
</div>
