<app-planificacion *ngIf="ramoSeleccionado" [planificacion]= "ramoSeleccionado"></app-planificacion>
<app-detalles *ngIf="ramoEstado" [ramoEstado]="ramoEstado"></app-detalles>

<ngx-loading [show]="loading"></ngx-loading>

<div class="card mb-3">
  <div class="card-header">Ramos Docente</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de Ramos Asignados a Docente</h5>
  <div *ngIf="planificaciones?.length==0" class="alert alert-info">
    No cuenta con ramos asignados
  </div>
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" *ngIf="planificaciones?.length>0">
      <thead>
        <tr>
          <th>Carrera</th>
          <th>Codigo ramo</th>
          <th>Ramo</th>
          <th>Periodo</th>
          <th>Subir</th>
          <th>Estado Syllabus</th>
          <th>Descargar Syllabus</th>
          <th>Eliminar Syllabus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planificacion of planificaciones; index as i">
          <td>{{planificacion.ramo_carrera.carrera.nombre_corto | uppercase}}</td>
          <td>{{planificacion.ramo_carrera.ramo.codigo_ramo | uppercase}}</td>
          <td>{{planificacion.ramo_carrera.ramo.nombre_ramo | uppercase}}</td>
          <td>{{planificacion.ramo_carrera.periodo.nombre_periodo | uppercase}}</td>
          <td *ngIf="planificacion.re_estado==null || planificacion.re_estado=='Rechazado'"><button  (click)="abrirModal(planificacion.ramo_carrera)"  type="button" name="editar" class="btn btn-primary">Subir</button></td>          
          <td *ngIf="planificacion.re_estado=='Aprobado'"><button  (click)="abrirModal(planificacion.ramo_carrera)"  disabled type="button" name="editar" class="btn btn-primary">Subir</button></td>          
          <td *ngIf="planificacion.pla_fecha_subida==null">No subido</td>
          <td *ngIf="planificacion.re_estado==null && planificacion.pla_fecha_subida==null" >No subido</td>
          <td *ngIf="planificacion.pla_fecha_subida!=null && planificacion.re_estado==null">Enviado</td>
          <td *ngIf="planificacion.pla_fecha_subida!=null && planificacion.re_estado!=null">{{planificacion.re_estado}} <button (click)="abrirModalDetalles(planificacion)"  type="button" name="editar" class="btn btn-primary">Ver detalles</button></td>
          <td *ngIf="planificacion.pla_fecha_subida!=null" ><a (click)="showPDF(planificacion.pla_ruta)" ><fa-icon [icon]="faFile"></fa-icon> Subido el: {{planificacion.pla_fecha_subida | date:"EEEE dd MMMM yyyy HH:mm"}}</a></td>
          <td *ngIf="planificacion.pla_fecha_subida!=null && planificacion.re_estado==null">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(planificacion.pla_id)'>Eliminar</button>
          </td>
          <td *ngIf="planificacion.re_estado==null && planificacion.pla_fecha_subida==null">
            No subido
          </td>
          <td *ngIf="planificacion.pla_fecha_subida!=null && planificacion.re_estado!=null">
            No es posible eliminar
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
