<ngx-loading [show]="loading"></ngx-loading>
<div class="card mb-3">
  <div class="card-header">Mallas Curriculares</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de mallas curriculares</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/mallasCarrera/form']">Crear malla</button>
  </div>
  <div *ngIf="mallas?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <div class="table-responsive">

  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" *ngIf="mallas?.length>0">
      <thead>
        <tr>
          <th>Descripción malla</th>
          <th *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">Ver malla</th>
          <th *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">Asignar ramos</th>
          <th *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">Desactivar/Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let malla of mallas">
          <td>{{malla.descripcion_malla}}</td>
          <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')" >
            <button type="button" name="editar" class="btn btn-info" [routerLink]="['/mallasCarrera/ver', malla.id]">Ver malla</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')" >
            <button type="button" name="editar" class="btn btn-success" [routerLink]="['/mallasCarrera/ramos', malla.id]">Agregar Ramos</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')" >
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/mallasCarrera/form', malla.id]">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA') && malla.vigente==true">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='desactivar(malla)'>Desactivar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA') && malla.vigente==false">
            <button type="button" name="activar" class="btn btn-success" (click)='activar(malla)'>Activar</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
  </div>
</div>

