<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form #jefeCarreraForm="ngForm">

      <div class="form-group row">
        <label for="facultad" class="col-form-label col-sm-2">Docente</label>
        <div class="col-sm-6">
          <select [compareWith]="compararUsuario" class="form-control" [(ngModel)]="jefe_carrera.usuario" name="usuario" required #usuario="ngModel">
            <option [ngValue]="undefined" > --- Seleccione un docente ---</option>
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.nombres | uppercase}} {{usuario.apellidos | uppercase}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
            <div *ngIf="usuario.errors.required">
              El docente es obligatorio
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="carrera" class="col-form-label col-sm-2">Carrera</label>
        <div class="col-sm-6">
          <select [compareWith]="compararCarrera" class="form-control" [(ngModel)]="jefe_carrera.carrera" name="carrera" required #carrera="ngModel">
            <option [ngValue]="undefined" > --- Seleccione una carrera ---</option>
            <option *ngFor="let carrera of carreras" [ngValue]="carrera">{{carrera.nombre_carrera | uppercase}}</option>
          </select>
          <div class="alert alert-danger" *ngIf="carrera.invalid && (carrera.dirty || carrera.touched)">
            <div *ngIf="carrera.errors.required">
              La carrera es obligatoria
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!jefe_carrera.id; else elseBlock" [disabled]="!jefeCarreraForm.form.valid" >Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!jefeCarreraForm.form.valid">Editar</button>
          </ng-template>
          <button class="btn btn-danger" mat-raised-button (click)="goBack()">Volver</button>

        </div>
      </div>
    </form>
  </div>
</div>
