<ngx-loading [show]="loading"></ngx-loading>
<div class="card mb-3">
  <div class="card-header">Ramos</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de ramos</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_C_RAMO')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/ramos/form']">Crear ramo</button>
  </div>
  <div *ngIf="ramos?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" *ngIf="ramos?.length>0">
      <thead>
        <tr>
          <th>Código ramo</th>
          <th>Nombre ramo</th>
          <th *ngIf="authService.hasRole('ROLE_M_RAMO')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_E_RAMO') && !authService.hasPerfil('ROLE_ADMIN')">Desactivar</th>
          <th *ngIf="authService.hasRole('ROLE_E_RAMO') && authService.hasPerfil('ROLE_ADMIN')">Desactivar/Activar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ramo of ramos">
          <td>{{ramo.codigo_ramo | uppercase}}</td>
          <td>{{ramo.nombre_ramo | uppercase}}</td>
          <td *ngIf="authService.hasRole('ROLE_M_RAMO')" >
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/ramos/form', ramo.id]">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_E_RAMO') && ramo.vigente==true">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='desactivar(ramo)'>Desactivar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_E_RAMO') && ramo.vigente==false">
            <button type="button" name="activar" class="btn btn-success" (click)='activar(ramo)'>Activar</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
  </div>
</div>
