<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form #mallaForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Descripción malla</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="malla.descripcion_malla" name="nombre" required minlength="4" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Descripción malla es obligatorio
            </div>
            <div *ngIf="nombre.errors.minlength">
              Descripción malla debe contener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="carrera" class="col-form-label col-sm-2">Carrera</label>
        <div class="col-sm-6">
          <select [compareWith]="compararCarrera" class="form-control" [(ngModel)]="malla.carrera" name="carrera" required #carrera="ngModel">
            <option [ngValue]="undefined" > --- Seleccione una carrera ---</option>
                <option *ngFor="let carrera of carreras" [ngValue]="carrera">
                  {{carrera.nombre_carrera}}
                </option>
          </select>
          <div class="alert alert-danger" *ngIf="carrera.invalid && (carrera.dirty || carrera.touched)">
            <div *ngIf="carrera.errors.required">
              La carrera es obligatoria
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!malla.id; else elseBlock" [disabled]="!mallaForm.form.valid" >Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!mallaForm.form.valid">Editar</button>
          </ng-template>
          <button class="btn btn-danger" mat-raised-button (click)="goBack()">Volver</button>
        </div>
      </div>
    </form>
  </div>
</div>
