<ngx-loading [show]="loading"></ngx-loading>
<div class="card mb-3">
  <div class="card-header">Agregar ramo a malla</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de ramos en malla curricular</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_C_MALLA')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/mallas/ramos/asignar',malla?.id]">Asignar ramo</button>
    <button *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/mallasCarrera/ramos/asignar',malla?.id]">Asignar ramo</button>
  </div>
  <div *ngIf="detalles?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" *ngIf="detalles?.length>0">
      <thead>
        <tr>
          <th>Código ramo</th>
          <th>Nombre ramo</th>
          <th>Semestre</th>
          <th>Posición ramo en semestre</th>
          <th *ngIf="authService.hasRole('ROLE_M_MALLA')">Editar</th> 
          <th *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">Editar</th> 
          <th *ngIf="authService.hasRole('ROLE_E_MALLA')">Borrar</th> 
          <th *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">Borrar</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalles">
        <td>{{detalle.ramo.codigo_ramo | uppercase}}</td>
        <td>{{detalle.ramo.nombre_ramo | uppercase}}</td>
        <td>{{detalle.semestre.descripcion_semestre | uppercase}}</td>
        <td>{{detalle.posicion }}</td>
        <td *ngIf="authService.hasRole('ROLE_M_MALLA')">
          <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/mallas/ramos/editar', detalle.id]">Editar</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_E_MALLA')">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(detalle)'>Eliminar</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">
          <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/mallasCarrera/ramos/editar', detalle.id]">Editar</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_JEFE_CARRERA')">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(detalle)'>Eliminar</button>
        </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>

