<ngx-loading [show]="loading"></ngx-loading>
<div class="card mb-3">
  <div class="card-header">Ciudades</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Listado de ciudades</h5>
  <div class="my-2 text-left">
    <button *ngIf="authService.hasRole('ROLE_C_CIUDAD')" type="button" class="btn btn-rounded btn-primary" [routerLink] = "['/ciudades/form']">Crear ciudad</button>
  </div>
  <div *ngIf="ciudades?.length==0" class="alert alert-info">
    No hay registros en la base de datos
  </div>
  <div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped" *ngIf="ciudades?.length>0">
      <thead>
        <tr>
          <th>Nombre ciudad</th>
          <th *ngIf="authService.hasRole('ROLE_M_CIUDAD')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_E_CIUDAD')">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ciudad of ciudades">
          <td>{{ciudad.nombre_ciudad}}</td>
          <!-- <td>{{ciudad.apellido | uppercase}}</td> -->
          <!-- <td>{{ciudad.createdAt | date:"EEEE, dd, MMMM yyyy"}}</td> -->
          <td *ngIf="authService.hasRole('ROLE_M_CIUDAD')" >
            <button type="button" name="editar" class="btn btn-primary" [routerLink]="['/ciudades/form', ciudad.id]">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_E_CIUDAD')">
            <button type="button" name="eliminar" class="btn btn-danger" (click)='delete(ciudad)'>Eliminar</button>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
  </div>
</div>

